<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Read(One)</title>
</head>
<style>
    .btn{
        display: flex;
        
    }
    .table{
        border-color: black;
        color: rgb(81, 81, 243);
        
    }
</style>
<body>
    <div><h1>User {{user.id}}</h1></div>
    <div class="table">
    <p>Full Name {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>

    <p>Created ON: {{user.created_at}}</p>
    <p>Last Updated: {{user.updated_at}}</p>
    </div>
    <div class="btn">
    <a href="/users/{{user.id}}/edit">Edit</a>
    <a href="/users/delete/{{user.id}}">Delete</a>
    </div>
</body>
</html>