<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Checkerboard Assign</title>
    
    <style>

.color1{
    background-color: {{color_one}};
    
}
.color2{
    background-color: {{color_two}};
   
}
table tr td {
     width: 50px;
    height: 50px;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
    </style>
</head>
<body>
    <h1>***Checkerboard***</h1>
    <table> 
    {% for i in range(8): %}
        <tr>
            {% for j in range(num): %}
            <td class="color1"></td>
            <td class="color2"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for j in range(num): %}
            <td class="color2"></td>
            <td class="color1"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>