<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<style>
    .table{
        border-color: black;
    }
    
</style>
<body>
    
    <form action="/dojos/create" method="post">
    <div>
        <h1>New Dojo</h1>
        <label>Name
            <input id="User" name="name" type="text" />
            </label>
            <button>create</button>
        </div>
    </form>
        <div>
            <h1>All Dojos</h1>
            {% for dojo in dojos %}
            
            <a href="">{{dojo.name}}</a><br>
            
            {% endfor %}    
            
            <!-- <a href="/ninjas"><h1>Add ninja</h1></a> -->
        </div>
    <h3><a href="/ninjas">Add ninja</a></h3>
</body>
</html>