<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <div> 
        <h1>Add a New User</h1>
    </div>
    <form action="/users/create" method="post">
    <label for="first_name">First_name:</label>
    <input type="text" name="first_name" >
    
    <label for="first_name">last_name:</label>
    <input type="text" name="last_name" >
    
    <label for="first_name">Email:</label>
    <input type="text" name="email" >
    
    <button>create</button>
    </form>

    
</body>
</html>