<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read(All)</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    
                </tr>
                {% endfor %}



                <div><h1>Add a new User</h1></div>

            </tbody>    

        </table>
</body>
</html>